{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>{% block title %}|APPNAME|{% endblock %}</title>

    <!-- Common imports -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static '|APPNAME|/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static '|APPNAME|/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static '|APPNAME|/css/styles.css' %}">

    {% block links %}{% endblock %}
</head>

<body>
    <!-- Sets up Django inbuilt messaging handler -->
    {% include '|APPNAME|/includes/messaging.html' %}

    <!-- Includes Navbar  -->
    {% include '|APPNAME|/includes/navbar.html' %}
    
    <!-- Main body -->
    {% block content %}{% endblock %}

    <!-- Includes Footer  -->
    {% include '|APPNAME|/includes/footer.html' %}

    <!-- Common scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- Page dependent scripts -->
    {% block scripts %}{% endblock %}
</body>

</html>