{% extends 'base.html' %}
{% load static %}

<!-- Sets the title of the page -->
{% block title %}|PAGENAME|{% endblock %}

<!-- Additional scripts needed per page -->
{% block links %}{% endblock %}

<!-- Main body -->
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Welcome to |PAGENAME|</h1>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus&nbsp; fringilla id lorem et tempor. Sed gravida sapien nec mollis lacinia. Quisque aliquet cursus orci, vitae egestas orci commodo eu. Donec ut&nbsp;sapien id sem varius
                        pulvinar ac eget magna. Donec sit amet enim elit. Pellentesque arcu elit, rutrum ut mauris molestie, tincidunt pulvinar eros. Suspendisse ullamcorper lectus eget porttitor finibus. Nulla rhoncus cursus mauris id lobortis.<br><br>Quisque
                        quis feugiat justo. Proin vitae enim ut odio finibus tincidunt a&nbsp;sit amet ipsum. Praesent semper enim in fermentum posuere. Aliquam vitae mauris eget turpis eleifend pharetra. Fusce eget sapien augue. Aliquam malesuada sollicitudin
                        libero ac malesuada. In ut nulla tellus. Phasellus arcu tellus, tincidunt ac consequat id, tempor eu lorem. Quisque quis molestie purus. Proin ultrices arcu at lorem placerat&nbsp;ullamcorper. Praesent ex purus, auctor sed metus
                        sit amet, egestas suscipit massa. Praesent vel posuere dolor. Pellentesque venenatis felis non mauris mollis sagittis. Donec ipsum ligula, tempus vitae nulla non, molestie consequat justo. Phasellus quis justo a erat eleifend tristique
                        ut facilisis arcu. Sed volutpat erat et eros imperdiet pretium.<br></p>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus&nbsp; fringilla id lorem et tempor. Sed gravida sapien nec mollis lacinia. Quisque aliquet cursus orci, vitae egestas orci commodo eu. Donec ut&nbsp;sapien id sem varius
                        pulvinar ac eget magna. Donec sit amet enim elit. Pellentesque arcu elit, rutrum ut mauris molestie, tincidunt pulvinar eros. Suspendisse ullamcorper lectus eget porttitor finibus. Nulla rhoncus cursus mauris id lobortis.<br><br>Quisque
                        quis feugiat justo. Proin vitae enim ut odio finibus tincidunt a&nbsp;sit amet ipsum. Praesent semper enim in fermentum posuere. Aliquam vitae mauris eget turpis eleifend pharetra. Fusce eget sapien augue. Aliquam malesuada sollicitudin
                        libero ac malesuada. In ut nulla tellus. Phasellus arcu tellus, tincidunt ac consequat id, tempor eu lorem. Quisque quis molestie purus. Proin ultrices arcu at lorem placerat&nbsp;ullamcorper. Praesent ex purus, auctor sed metus
                        sit amet, egestas suscipit massa. Praesent vel posuere dolor. Pellentesque venenatis felis non mauris mollis sagittis. Donec ipsum ligula, tempus vitae nulla non, molestie consequat justo. Phasellus quis justo a erat eleifend tristique
                        ut facilisis arcu. Sed volutpat erat et eros imperdiet pretium.<br></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Extra page dependent scripts -->
{% block scripts %}{% endblock %}